@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: "Open Sans", sans-serif; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
li.MuiTreeItem-root div.MuiTreeItem-content{
  flex-direction: row-reverse;
  transform-origin: top;
  text-wrap: nowrap;
}

li.MuiTreeItem-root{
  
  height: fit-content;
  position: relative;
}
li.MuiTreeItem-root ul.MuiCollapse-root{
  padding: 0
}
.shadow-ellipse{
  
  position: absolute;
  width: 648px;
  height: 1063px;
  /* clip-path: ellipse(28% 40% at 50% 50%); */
  background: radial-gradient(50% 50% at 50% 50%, rgba(29, 27, 32, 0.3) 0%, rgba(29, 27, 32, 0) 100%);
  }
  /* Card

The cards have a fixed width of 440 in the component set, but when placed in designs their auto layout and width settings should be defined by their parent. 

Use &quot;fill&quot; as the auto layout property, and the content will flow automatically.

Keywords: cards, tile, tiles
*/

.gray-shadow{
 clip-path: url('../../../public/images/gray_home_shape.svg');
}
.fredoka{
  font-family: "Fredoka", sans-serif;
}

.open-sans{
font-family: "Open Sans", sans-serif;
}